{% extends 'base_templates/general_base.html' %}
{% load static %}

{% block 'head' %}
<link href="{% static 'services/css/request_budget.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}
<div class="container">
    <br>
    <div class="box">
        <h2>Solitar orçamento</h2>
        <hr>

        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show text-center" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        <form action="{% url 'request_budget' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="id_file">Vídeo:</label>
            <input type="file" name="file" id="id_file" class="form-control" />
            <br>
            <label for="id_service">Serviço desejado:</label>
            <select name="service" id="id_service" class="form-select">
                {% for service in services %}
                <option value="{{ service.0 }}">{{ service.1 }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="id_descricao">Descrição:</label>
            {{ html_field|safe }}
            <br>
            <input type="submit" value="Enviar" class="btn btn-main">
        </form>
    </div>
</div>

<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'services/js/request_budget.js' %}"></script>
{% endblock %}